{% extends 'main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  {% for post in posts %}
    <div class="card mt-2">
      <div class="card-header">
        <strong>{{ post.author }}</strong>
      </div>
      <div class="card-body d-flex flex-row justify-content-between">
        <div>
          <h5 class="card-title">{{ post.title }}</h5>
          <p>{{ post.text }}</p>
        </div>
        <div>
          {% if request.user == post.author %}
            <form method="post">
              {% csrf_token %}
              <!-- Button trigger modal -->
              <button type="button"
                      class="btn btn-primary"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal">Delete post</button>
              <!-- Modal -->
              <div class="modal fade"
                   id="exampleModal"
                   tabindex="-1"
                   aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm action</h1>
                      <button type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete the post?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit"
                              class="btn btn-danger"
                              name="post_id"
                              value="{{ post.id }}">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          {% endif %}
        </div>
      </div>
      <div class="card footer text-muted">{{ post.created_at }}</div>
    </div>
  {% empty %}
    <p>No posts yet</p>
  {% endfor %}
{% endblock %}
