{% extends 'main/base.html' %}
{% block title %}Home{% endblock %}
{% block content %}
  <a href="{% url 'post_detail' pinned_post.slug %}">
    <div class="card mb-3" style="top:5px;">
      <img src="{{ pinned_post.cover.url }}" class="card-img" alt="" style="width: relative; height: 337px; object-fit: cover;">
      <div class="card-body">
        <h5 class="card-title">{{ pinned_post.title }}</h5>
        <p class="card-text">{{ pinned_post.preview }}...</p>
        <p class="card-text">
          <small class="text-body-secondary">{{ pinned_post.created_at }}</small>
        </p>
      </div>
    </div>
  </a>

  <div class="row mb-2">
    {% for popular_post in popular_posts %}
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary-emphasis">Test tag</strong>
            <h3 class="mb-0">{{ popular_post.title }}</h3>
            <div class="mb-1 text-body-secondary">
              {{ popular_post.created_at }} | likes: {{ popular_post.likes.count }} | comments: {{ popular_post.comments.count }}
            </div>
            <p class="card-text mb-auto">{{ popular_post.preview }}</p>
            <a href="{% url 'post_detail' popular_post.slug %}"
               class="icon-link gap-1 icon-link-hover stretched-link">
              Continue reading
              <svg class="bi">
                <use xlink:href="#chevron-right" />
              </svg>
            </a>
          </div>
          <div class="col-auto d-none d-sm-block">
            <img src="{{ popular_post.cover.url }}"
                 class="img-fluid rounded-start"
                 alt="">
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 fst-italic border-bottom">From the Firehose</h3>
      {% for post in posts %}
        <article class="blog-post">
          <h2 class="display-7 link-body-emphasis mb-1">
            <a href = "{% url 'post_detail' post.slug %}">{{ post.title }}</a>
          </h2>
          <p class="blog-post-meta">
            {{ post.created_at }} by <a href="{% url 'post_detail' post.slug %}">{{ post.author }}</a>
          </p>
          <p>{{ post.preview }}</p>
        </article>
      {% endfor %}
    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem;">
        <div class="p-4 mb-3 bg-body-tertiary rounded">
          <h4 class="fst-italic">About</h4>
          <p class="mb-0">
            Customize this section to tell your visitors a little bit about your publication, writers, content, or something else entirely. Totally up to you.
          </p>
        </div>
        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                 href="#">
                <svg class="bd-placeholder-img"
                     width="100%"
                     height="96"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Example blog post title</h6>
                  <small class="text-body-secondary">January 15, 2023</small>
                </div>
              </a>
            </li>
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                 href="#">
                <svg class="bd-placeholder-img"
                     width="100%"
                     height="96"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">This is another blog post title</h6>
                  <small class="text-body-secondary">January 14, 2023</small>
                </div>
              </a>
            </li>
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top"
                 href="#">
                <svg class="bd-placeholder-img"
                     width="100%"
                     height="96"
                     xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true"
                     preserveAspectRatio="xMidYMid slice"
                     focusable="false">
                  <rect width="100%" height="100%" fill="#777" />
                </svg>
                <div class="col-lg-8">
                  <h6 class="mb-0">Longer blog post title: This one has multiple lines!</h6>
                  <small class="text-body-secondary">January 13, 2023</small>
                </div>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
