{% extends 'main/base.html' %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

  <div>
          {% if request.user == post.author or perms.main.delete_post %}
            <form method="post">
              {% csrf_token %}
              <!-- Button trigger modal -->
              <button type="button"
                      class="btn btn-danger"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal">Delete post</button>
              <!-- Modal -->
              <div class="modal fade"
                   id="exampleModal"
                   tabindex="-1"
                   aria-labelledby="exampleModalLabel"
                   aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Confirm action</h1>
                      <button type="button"
                              class="btn-close"
                              data-bs-dismiss="modal"
                              aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <p>Are you sure you want to delete the post?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                      <button type="submit"
                              class="btn btn-danger"
                              name="post_id"
                              value="{{ post.id }}">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </form>
          {% endif %}
          {% if user.is_staff %}
            <br>
            <form method="post">
              {% csrf_token %}
              <button type="submit"
                      class="btn btn-danger"
                      name="post_author_id"
                      value="{{ post.author.id }}">Block user</button>
            </form>
          {% endif %}
        </div>


  {{ post.title }}
  {{ post.text }}
  <form action="{% url 'like' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-link" name="like" value="{{ post.id }}">{{ like_status }}</button>
  </form>
  <p class="d-inline-flex gap-1">
    <button class="btn btn-link"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseExample"
            aria-expanded="false"
            aria-controls="collapseExample">Add comment</button>
  </p>
  <div class="collapse" id="collapseExample">
    <form action="{% url 'create_comment' post.slug %}" method="post">
      {% csrf_token %}{{ form }}
      <br>
      <button type="submit" class="btn btn-success btn-sm">Create comment</button>
    </form>
  </div>
  <br>
  {% for comment in comments %}
    {% if comment.is_parent %}
      <div class="card border-light mb-3" style="max-width: 38rem;">
        <div class="card-header">{{ comment.user }} | {{ comment.date_added }}</div>
        <div class="card-body">
          <p class="card-text">{{ comment.body }}</p>
        </div>
        <p class="d-inline-flex gap-1">
          <button class="btn btn-link"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseExampleReply{{ comment.id }}"
                  aria-expanded="false"
                  aria-controls="collapseExampleReply{{ comment.id }}">Reply</button>
        </p>
        <div class="collapse" id="collapseExampleReply{{ comment.id }}">
          <form action="{% url 'create_reply' post.slug comment.id %}" method="post">
            {% csrf_token %}{{ form }}
            <br>
            <button type="submit" class="btn btn-success btn-sm">Reply</button>
          </form>
        </div>
      </div>
      {% for reply in comment.children %}
        <div class="card border-light mb-3" style="max-width: 18rem;">
          <div class="card-header">{{ reply.user }} | {{ reply.date_added }}</div>
          <div class="card-body">
            <p class="card-text">{{ reply.body }}</p>
          </div>
          <p class="d-inline-flex gap-1">
            <button class="btn btn-link"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#collapseExampleReply{{ reply.id }}"
                    aria-expanded="false"
                    aria-controls="collapseExampleReply{{ reply.id }}">Reply</button>
          </p>
          <div class="collapse" id="collapseExampleReply{{ reply.id }}">
            <form action="{% url 'create_reply' post.slug comment.id %}" method="post">
              {% csrf_token %}{{ form }}
              <br>
              <button type="submit" class="btn btn-success btn-sm">Reply</button>
            </form>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    <br>
    <br>
  {% empty %}
    <p>No comments yet</p>
  {% endfor %}
{% endblock %}
