{% extends 'main/base.html' %}
{% load has_like %}

{% block title %} {{ post.title }} {% endblock %}

{% block content %}
    {{ post.title }}
    {{ post.text }}

    <form action="{% url 'like' %}" method="post">
              {% csrf_token %}
              {% if post|has_like:user.id %}
              <button type="submit" class="btn btn-link" name="unlike_post" value="{{ post.id }}">Unlike</button>
              {% else %}
              <button type="submit" class="btn btn-link" name="like_post" value="{{ post.id }}">Like</button>
              {% endif %}
    </form>

    {% for comment in comments %}
        {{ comment.user }}
        {{ comment.body }}
        {{ comment.date_added }}
    {% empty %}
    <p>No comments yet</p>
    {% endfor %}
{% endblock %}
